body {color: rgb(28, 233, 185);
    background-color: black;

}

section {
    background: rgba(189, 84, 189);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;

}

img {height: 200px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

section {
    padding-left: 20;
    padding-right: 20;
}

.chamada {
    background: rgb(73, 8, 97);
    padding-bottom: 80;
    padding-top: 80;
    display: flex;
    justify-content: center;
}

.categoria {
    padding-left: 20;
    padding-right: 20;
}