body {color: rgb(28, 233, 185);
    background-color: black;
    font-family:"Charm", sans-serif;    
}

section {
    background: rgba(189, 84, 189);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20 px;
}

.chamada-texto {
    margin-right: 5%;

}

img {height: 200px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.chamada {
    background: rgb(73, 8, 97);
    padding-bottom: 80;
    padding-top: 80;
    display: flex;
    justify-content: center;
}

.categoria {
    padding-left: 20;
    padding-right: 20;
    
}

h1 {
    font-size: 60px;
}

p {
    font-size: 20px;
}

h2 {
    font-size: 40px;
}

header {
    font-size: 30px;
}